/*------------------Styling image in left.-----------------*/

.forgottenPswMain {
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
    margin-bottom: 62px;
}

.forgottenPswMain img {
    border: 6px solid black;
    border-radius: 12px;
    transform: rotate(-4deg);
    box-shadow: 8px 8px 4px #aaaaaa;
}

/*-----------------------Styling form for fotgotten password.---------------------*/

.forgottenPswForm {
    text-align: center;
    font-family: 'Neuton';
    margin-top: 78px;
    width: 460px;
}

.forgottenPswForm {
    animation: animatezoom 0.4s;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.forgottenPswForm input[type=text] {
    width: 280px;
    height: 26px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    background-image: url("../Image/envelope\ icon.png");
    position: left;
    background-repeat: no-repeat;
    background-position: 6px;
    background-size: 24px;
    padding-left: 32px;
    box-shadow: 3px 6px 6px 6px #888888;
}

.forgottenPswForm button {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
    margin-left: 10px;
}

.forgottenPswForm button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.forgottenPswForm button:active {
    transform: translateY(1px);
}

.forgottenPswForm p {
    font-family: 'Neuton';
    color: black;
    font-size: 18px;
}

/*-------------------Styling result from forgotten password.-------------------*/

.forgottenPswResult {
    text-align: center;
    font-family: 'Neuton';
    margin-top: 84px;
    width: 460px;
    display: none;
}

.forgottenPswResult {
    animation: animatezoom 0.8s;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.forgottenPswResult p {
    font-family: 'Neuton';
    color: black;
    font-size: 18px;
}

.forgottenPswResult button {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
    background-color: red;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding: 6px;
}

.forgottenPswResult span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.forgottenPswResult span::before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -12px;
    transition: 0.3s;
}

.forgottenPswResult button:hover span {
    padding-left: 12px;
}

.forgottenPswResult button:hover span::before {
    opacity: 1;
    left: 0;
}

.forgottenPswResult button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.forgottenPswResult button:active {
    transform: translateY(1px);
}

#emailAddress {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

#emailAddress:hover {
    cursor: pointer;
}


/*--------------------------------------------------Media Query------------------------------------*/

@media screen and (max-width: 600px) {
    .forgottenPswMain {
        display: block;
        margin-top: 150px;
        text-align: center;
        margin-bottom: 60px;
    }

    .forgottenPswMain img {
        width: 250px;
        height: 250px;
    }

    .forgottenPswForm {
        height: 170px;
        margin: 0 auto;
        margin-top: 78px;
    }

    .forgottenPswResult {
        height: 168px;
        margin: 0 auto;
        margin-top: 80px;
    }

    .forgottenPswForm button:hover {
        box-shadow: none;
        cursor: default;
    }

    #emailAddress {
        text-decoration: none;
    }

    #emailAddress:hover {
        cursor: default;
    }

    .forgottenPswResult button:hover {
        box-shadow: none;
        cursor: default;
    }

    .forgottenPswResult span:hover {
        cursor: default;
    }
}